@import './shared';
$message-icon-size: 24px;
.p3-message-panel {
    padding: 4px;
    margin: 4px;
    background-color: #FFF;
    position: relative;
    box-sizing: border-box;
    header {
        color: #FFF;
        .title {
            position: relative;
            padding-left: 4px;
            font-weight: normal;
            margin: 0;
            display: inline-block;
            width: calc(100% - 20px);
        }
        .close-icon {
            cursor: pointer;
        }
        .close-icon::before {
            content: '\002716';
            display: inline-block;
        }
        .close-icon:hover {
            text-shadow: 0 2px 2px #000;
        }
        .close-icon:active {
            text-shadow: 0 1px 1px #000;
        }
    }
    .message {
        color: #000;
    }
    .children {
        position: relative;
    }
    .more {
        border: dashed thin;
        padding: 10px;
        p {
            margin: 0;
        }
    }
}

@mixin color-message-box($color, $content) {
    border: solid thin $color;
    header {
        background-color: $color * 0.6;
        .title {
            position: relative;
        }
    }
    .message {
        p::before {
            content: $content;
            border: solid thin;
            text-align: center;
            display: inline-block;
            border-radius: $message-icon-size;
            width: $message-icon-size;
            height: $message-icon-size;
            margin-right: 4px;
            color: #FFF;
            background-color: $color;
            box-shadow: 0px 0px 3px 2px rgba($color, 0.3);
        }
    }
    .more {
        color: $color * 0.5;
        border-color: $color * 0.5;
    }
    .p3-action-holder {
        padding: 4px 0 0 0;
        .p3-help {
            cursor: pointer;
        }
        .p3-help::before {
            content: '❔';
            text-align: center;
            display: inline-block;
            border: solid thin #CCC;
            border-radius: $message-icon-size;
            width: $message-icon-size;
            height: $message-icon-size;
            color: #FFF;
            background-color: skyblue;
            box-shadow: 0px 0px 3px 2px rgba(skyblue, 0.3);
        }
        ul {
            list-style-type: none;
            display: inline-block;
            width: calc(100% - 24px - 8px);
            text-align: right;
            padding: 0;
            margin: 0;
            li {
                display: inline-block;
                padding: 0;
                margin: 0;
                height: $message-icon-size;
                .p3-action-button {
                    padding: 4px 12px;
                    margin: 0 4px;
                    text-decoration: none;
                    font-weight: bold;
                    cursor: pointer;
                    border: solid thin gray;
                    border-radius: 16px;
                    background-color: #FFF;
                    color: #000;
                    text-transform: capitalize;
                }
                .p3-action-button:hover {
                    color: #FFF;
                    background-color: #333;
                }
                .p3-action-button:last-child {
                    margin-right: 0;
                }
                .p3-action-button:disabled,
                .p3-action-button:disabled:hover {
                    opacity: 0.5;
                    cursor: default;
                    background-color: #FFF;
                    color: #000;
                    font-weight: normal;
                }
            }
        }
        ul.no-help {
            width: 100%;
        }
    }
    box-shadow: 0px 0px 4px 2px rgba($color, 0.3);
}

.p3-message-panel.success {
    @include color-message-box($success, "\002714");
}

.p3-message-panel.error {
    @include color-message-box($error, "\002716");
}

.p3-message-panel.warn {
    @include color-message-box($warn, "\0026A0");
}

.p3-message-panel.info {
    @include color-message-box($info, "\002139");
}

.p3-message-panel.question {
    @include color-message-box($question, "\001F4AD");
}