@import './shared';
.p3-root {
    padding: 10px;
    background-color: $primary-bg-color;
}

.p3-nav-bar {
    box-sizing: border-box;
    border-bottom: solid 1px #336699;
    background-color: #6699CC;
    width: 100%;
    height: 100%;
    display: inline-block;
    a {
        @extend %p3-a;
    }
    a.active {
        color: #1e5fa0;
    }
}

.p3-logo {
    @extend %p3-a;
    margin: 0;
    padding: 0;
    width: 32px;
    height: 32px;
    text-indent: -1000px;
    background-color: #FFF;
}

.p3-module {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: rgb(217, 224, 228);
    margin: 0;
    padding: 0;
    overflow: auto;
    .p3-nav-bar {
        background-color: #6699CC;
    }
    section {
        position: relative;
    }
    header {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin: 0;
        }
    }
}

.p3-app {
    padding: 10px;
    background-color: $secondary-bg-color;
    .p3-app-header {
        display: inline-block;
        box-sizing: border-box;
        width: 100%;
        height: 40px;
        margin: 0;
        padding: 0;
        background-color: red;
    }
    .p3-module {
        height: calc(100% - 40px);
        /* reducing the hight of the App Header*/
        clear: both;
    }
}

.p3-module,
.p3-show-me {
    animation: p3ShowMe 0.5s;
}

@keyframes p3ShowMe {
    from {
        opacity: 0.5;
    }
    to {
        opacity: 1.0;
    }
}

$p3-popup-title-bar-height: 30px;
$p3-popup-footer-bar-height: 30px;
.model-root {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    .p3-model-holder {
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #333, $alpha: 0.50);
        .p3-model {
            position: relative;
            width: 100%;
            height: 100%;
            .p3-popup {
                position: relative;
                margin: 0px auto;
                min-height: 180px;
                max-height: 100%;
                height: inherit;
                max-width: 100%;
                .p3-popup-title-bar {
                    height: $p3-popup-title-bar-height;
                    background-color: rgba($color: #333, $alpha: 0.50);
                }
                .p3-popup-body-section {
                    position: relative;
                    margin: 0 auto;
                    padding: 4px;
                    overflow: auto;
                    height: calc(100% - 30px - 2px);
                    width: 100%;
                }
                .with-footer {
                    height: calc(100% - 60px - 2px);
                }
                .p3-popup-footer-bar {
                    height: $p3-popup-footer-bar-height;
                    background-color: #1e5fa0;
                    display: inline-block;
                }
            }
        }
    }
}